www.shienshi.com {
	redir https://shienshi.com{uri} permanent
}

shienshi.com {
	basic_auth {
		devprogundeike $2a$14$KisKC2KrBijcMkM3laundOXMAiLtyxHUE3MQPt1fkrsPIV1QDGRnC
	}

	root * /var/www/html/public
	encode zstd gzip

	@vite_build {
		path /build/*
	}
	header @vite_build Cache-Control "public, max-age=2592000"

	# Laravelへ
	php_fastcgi app:9000

	# public配下の静的ファイル
	file_server
}
