:80 {
	root * /var/www/html/public
	encode zstd gzip

	@vite_build {
		path /build/*
	}
	header @vite_build Cache-Control "public, max-age=2592000"

	@html {
		path / index.html
	}
	header @html Cache-Control "no-store"

	# Laravelへ
	php_fastcgi app:9000

	# public配下の静的ファイル
	file_server
}
